<?xml version="1.0"?>
<model>
  <name>Logixair Orca</name>
  <version>1.0</version>
  <sdf version='1.4'>logixair_orca.sdf</sdf>

  <author>
   <name>Akarsh Gopal</name>
   <email>akarsh98@gmail.com</email>
  </author>

  <description>
    This is a model of the Logixair Orca concept VTOL cargo plane.
  </description>
</model>
